.movie {
  height: calc(100vh - 64px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__dark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.8);
  }

  > .ant-row {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__poster {
    height: 70%;

    div {
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__info {
    height: 70%;
    color: white;
    position: relative;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      h1 {
        color: white;
        margin: 0;
        font-size: 60px;

        span {
          font-size: 20px;
          margin-left: 10px;
          opacity: 0.5;
        }
      }

      button {
        // position: absolute;
        // top: -200px;
        // right: -20px;
        height: 100%;
        background-color: transparent;
        font-size: 22px !important;
        color: white;
        border: 0;
        font-size: 25px;

        &:hover,
        &:focus,
        &:active {
          background-color: transparent;
          color: turquoise;
          cursor: pointer;
        }
      }
    }

    &-content {
      margin-top: 50px;

      h3 {
        color: white;
        font-weight: bold;
        font-size: 24px;
      }

      ul {
        list-style: none;
        padding-left: 20px;

        li {
          text-decoration: none;
        }
      }
    }
  }
}
